* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: 'Fira Sans', sans-serif; */
@font-face {
  font-family: 'Fira Sans';
  src: url('../../assets/font/FiraSans-Regular.ttf') format('truetype');
}

/* font-family: 'Indie Flower', cursive; */
@font-face {
  font-family: 'Indie Flower';
  src: url('../../assets/font/IndieFlower-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Pacifico';
  src: url('../../assets/font/Pacifico-Regular.ttf') format('truetype');
}

body {
  font-family: 'Fira Sans', sans-serif;
}

.sakura-target {
  position: absolute;
  margin-top: 70px;
  height: 550px;
  width: 100%;
  top: 0;
  left: 0;
}