<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
  </ol>
  <div class="carousel-inner">
    <!-- Dynamic content -->
    {% assign list3 = site.posts 
      | where_exp: "post", "post.title == site.data.carousel.carouselItems.creativeWriting[0] 
      or post.title == site.data.carousel.carouselItems.creativeWriting[1]"
    %}
    {% assign list2 = site.posts 
      | where_exp: "post", "post.title == site.data.carousel.carouselItems.creativeWriting[2] 
      or post.title == site.data.carousel.carouselItems.creativeWriting[3]"
    %}
    {% assign list1 = site.posts 
      | where_exp: "post", "post.title == site.data.carousel.carouselItems.creativeWriting[4]"
    %}
    {% assign writingList = list1 | concat: list2 | concat: list3 %}

    {% for post in writingList reversed %}
    {% if forloop.first == true %}
    <div class="carousel-item active">
    {% else %}
    <div class="carousel-item">
    {% endif %}
      <div class="carousel-content-item">
        <h1 class="carousel-content-title"><a href="{{post.permalink}}" target="_blank">{{ post.title }}</a></h1>
        <p class="carousel-content-text">{{post.category}}</p>
      </div>
    </div>
    {% endfor %}

    
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>