<div class="header ">

  <!--Content before waves-->
  <div class="container inner-header d-flex align-items-center justify-content-center">
    <div class="row ">
      <div class="col-md-12 d-flex flex-column align-items-start justify-content-center">
        <div class="d-flex align-items-center">
          <div class="header-pre-text-space-1"></div>
          <h1 class="header-text header-text__1"><span data-z data-z-depth=".5em" data-z-layers="2">Imperfection is</span></h1>
        </div>
        <div class="d-flex align-items-center">
          <div class="header-pre-text-space-2"></div>
          <h1 class="header-text header-text__2" ><span data-z data-z-depth=".5em" data-z-layers="2">the fingerprint</span></h1>
        </div>
        <div class="d-flex align-items-center">
          <div class="header-pre-text-space-3"></div>
          <h1 class="header-text header-text__3"><span data-z data-z-depth=".5em" data-z-layers="2">of your soul...</span></h1>
        </div>
      </div>
    </div>
  </div>

  <!--Waves Container-->
  <div>
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
      <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
      </defs>
      <linearGradient id="gradient-1">
        <stop style="stop-color:#9599E2;stop-opacity:1" offset="0%" />
        <stop style="stop-color:#8BC6EC;stop-opacity:1" offset="100%" />
      </linearGradient>
      <linearGradient id="gradient-2">
        <stop style="stop-color:#9599E2;stop-opacity:0.1" offset="0%" />
        <stop style="stop-color:#8BC6EC;stop-opacity:0.1" offset="100%" />
      </linearGradient>
      <linearGradient id="gradient-3">
        <stop style="stop-color:#9599E2;stop-opacity:0.3" offset="0%" />
        <stop style="stop-color:#8BC6EC;stop-opacity:0.3" offset="100%" />
      </linearGradient>
      <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="#2B86C5" fill-opacity="40%" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="#2B86C5" fill-opacity="55%"/>
        <use xlink:href="#gentle-wave" x="48" y="5" fill="#2B86C5" fill-opacity="65%"/>
        <use xlink:href="#gentle-wave" x="48" y="5" fill="#2B86C5" />
      </g>
    </svg>
  </div>
  <!--Waves end-->

</div>
<!--Header ends-->