<div class="path-container">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="page-path">
          <a href="{{site.data.baseUrl.baseUrl}}/">Home</a>
          {% if page.permalink == "/creative-writing" %} 
            <a href="{{site.data.baseUrl.baseUrl}}/creative-writing">/Creative Writing</a>
          {% elsif page.category == "poetry" %}
            <a href="{{site.data.baseUrl.baseUrl}}/creative-writing">/Creative Writing</a>
            <a href="{{site.data.baseUrl.baseUrl}}/creative-writing/poetry">/Poetry</a>
            <a href="{{site.data.baseUrl.baseUrl}}{{page.permalink}}">/{{page.title}}</a>
          {% elsif page.category == "short-story" %}
            <a href="{{site.data.baseUrl.baseUrl}}/creative-writing">/Creative Writing</a>
            <a href="{{site.data.baseUrl.baseUrl}}/creative-writing/short-story">/Short Story</a>
            <a href="{{site.data.baseUrl.baseUrl}}{{page.permalink}}">/{{page.title}}</a>
          {% elsif page.permalink == "/creative-writing/poetry" %}
            <a href="{{site.data.baseUrl.baseUrl}}/creative-writing">/Creative Writing</a>
            <a href="{{site.data.baseUrl.baseUrl}}/creative-writing/poetry">/Poetry</a>
          {% elsif page.permalink == "/creative-writing/short-story" %}
            <a href="{{site.data.baseUrl.baseUrl}}/creative-writing">/Creative Writing</a>
            <a href="{{site.data.baseUrl.baseUrl}}/creative-writing/short-story">/Short Story</a>
          {% elsif page.permalink == "music" %}
            <a href="{{site.data.baseUrl.baseUrl}}/music">/Music</a>
          {% elsif page.permalink == "essay" %}
            <a href="{{site.data.baseUrl.baseUrl}}/essay">/Essay</a>
          {% elsif page.category =="essay" %}
            <a href="{{site.data.baseUrl.baseUrl}}/essay">/Essay</a>
          {% elsif page.permalink == "tech" %}
            <a href="{{site.data.baseUrl.baseUrl}}/tech">/Tech</a>
          {% else %}
          {% endif %}         
        </p>
      </div>
    </div>
  </div>
</div>