<div class="page-content-container">
  <div class="container">
    <div class="row">
      <div class="col-md-9 content-container">
        <ul>
          <li class="page-list">
            <span class="page-list-title" >
            {% if page.heading %}
              <div class="text-decoration-underline">{{ page.heading }}</div>
            {% endif %}
            </span>
            <ul class="page-item-list">
              <!-- for creative writing page-->
              {% if page.permalink == "/creative-writing" %}
                <li class="page-list"><a class="page-list-title text-decoration-underline" href="{{site.data.baseUrl.baseUrl}}/creative-writing/poetry">Poems</a>
                  <ul class="page-item-list">
                    {% for post in site.posts %}
                      {% if post.category == "poetry" %}
                        <li><a class="page-item-title" href="{{site.data.baseUrl.baseUrl}}{{post.permalink}}">&#x25CF;&nbsp;{{post.title}}</a></li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </li>
                <li class="page-list"><a class="page-list-title text-decoration-underline" href="{{site.data.baseUrl.baseUrl}}/creative-writing/short-story">Short Stories</a>
                  <ul class="page-item-list">
                    {% for post in site.posts %}
                      {% if post.category == "short-story" %}
                        <li><a class="page-item-title" href="{{site.data.baseUrl.baseUrl}}{{post.permalink}}">&#x25CF;&nbsp;{{post.title}}</a></li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </li>
              <!-- for poetry page-->
              {% elsif page.permalink == "/creative-writing/poetry" %}
                {% for post in site.posts %}
                  {% if post.category == "poetry" %}
                    <li><a class="page-item-title" href="{{site.data.baseUrl.baseUrl}}{{post.permalink}}">&#x25CF;&nbsp;{{post.title}}</a></li>
                  {% endif %}
                {% endfor %}

              <!-- for short story page -->
              {% elsif page.permalink == "/creative-writing/short-story" %}
                {% for post in site.posts %}
                  {% if post.category == "short-story" %}
                    <li><a class="page-item-title" href="{{site.data.baseUrl.baseUrl}}{{post.permalink}}">&#x25CF;&nbsp;{{post.title}}</a></li>
                  {% endif %}
                {% endfor %}
      

              <!-- for essay page -->
              {% elsif page.permalink == "essay" %}
                {% for post in site.posts %}
                  {% if post.category == "essay" %}
                    <li><a class="page-item-title" href="{{site.data.baseUrl.baseUrl}}{{post.permalink}}">&#x25CF;&nbsp;{{post.title}}</a></li>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
