<div class="page-content-container">
  <div class="container inner-content-container">
    <div class="row">
      <div class="col-md-6">
        <ul>
          <li class="page-list"><span class="page-list-title" >List</span>
            <ul class="page-item-list">
              <!-- for creative writing page-->
              {% if page.permalink == "/creative-writing" %}
                <li class="page-list"><a class="page-list-title" href="/creative-writing/poetry">Poetry</a>
                  <ul class="page-item-list">
                    {% for post in site.posts %}
                      {% if post.category == "poetry" %}
                        <li><a class="page-item-title" href="{{post.permalink}}">{{post.title}}</a></li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </li>
                <li class="page-list"><a class="page-list-title" href="/creative-writing/short-story">Short Story</a>
                  <ul class="page-item-list">
                    {% for post in site.posts %}
                      {% if post.category == "short-story" %}
                        <li><a class="page-item-title" href="{{post.permalink}}">{{post.title}}</a></li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </li>
              <!-- for poetry page-->
              {% elsif page.permalink == "/creative-writing/poetry" %}
                {% for post in site.posts %}
                  {% if post.category == "poetry" %}
                    <li><a class="page-item-title" href="{{post.permalink}}">{{post.title}}</a></li>
                  {% endif %}
                {% endfor %}

              <!-- for short story page -->
              {% elsif page.permalink == "/creative-writing/short-story" %}
                {% for post in site.posts %}
                  {% if post.category == "short-story" %}
                    <li><a class="page-item-title" href="{{post.permalink}}">{{post.title}}</a></li>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
