<div class="page-content-container">
  <div class="container">
    <div class="row">
      <div class="col-md-9 content-container">
        <ul>
          <li class="page-list">
            <span class="page-list-title" >
            {% if page.heading %}
              <div class="text-decoration-underline">{{ page.heading }}</div>
            {% endif %}
            </span>
            <ul class="page-item-list">
              <!-- for creative writing page-->
              {% if page.permalink == "/creative-writing" %}
                <li class="page-list"><a class="page-list-title text-decoration-underline" href="{{site.data.baseUrl.baseUrl}}/creative-writing/poetry">Poems</a>
                  <!-- Get poerty category and create an array -->
                  {% assign poetryPosts = site.posts | where_exp: "item", "item.category == 'poetry'" %}
                  <!-- Create an array for postsByYear -->
                  {% assign postsByYear = poetryPosts | group_by_exp: "post", "post.date | date: '%Y'" %}
            
                  <!-- Create list from postsByYear -->
                  {% for postsByYearList in postsByYear %}
                    <details class="post-list-details">
                      <summary>
                        {{postsByYearList.name}}
                      </summary>
                        <!-- Then get the list for the posts -->
                        <ul class="page-item-list">
                          {% for post in postsByYearList.items %}
                            <li><a class="page-item-title" href="{{site.data.baseUrl.baseUrl}}{{post.permalink}}">&#x25CF;&nbsp;{{post.title}}</a></li>
                          {% endfor %}
                        </ul>
                      </details>
                  {% endfor %}
                </li>

                <li class="page-list"><a class="page-list-title text-decoration-underline" href="{{site.data.baseUrl.baseUrl}}/creative-writing/short-story">Short Stories</a>
                  <!-- Get poerty category and create an array -->
                  {% assign shortStoryPosts = site.posts | where_exp: "item", "item.category == 'short-story'" %}
                  <!-- Create an array for postsByYear -->
                  {% assign postsByYear = shortStoryPosts | group_by_exp:"post", "post.date | date: '%Y'" %}
              
                  <!-- Create list from postsByYear -->
                  {% for postsByYearList in postsByYear %}
                  <details class="post-list-details">
                    <summary>
                      {{postsByYearList.name}}
                    </summary>
                      <!-- Then get the list for the posts -->
                      <ul class="page-item-list">
                        {% for post in postsByYearList.items %}
                          <li><a class="page-item-title" href="{{site.data.baseUrl.baseUrl}}{{post.permalink}}">&#x25CF;&nbsp;{{post.title}}</a></li>
                        {% endfor %}
                      </ul>
                    </details>
                  {% endfor %}
                </li>

              <!-- for poetry page-->
              {% elsif page.permalink == "/creative-writing/poetry" %}
                <!-- Get poerty category and create an array -->
                {% assign poetryPosts = site.posts | where_exp: "item", "item.category == 'poetry'" %}
                 <!-- Create an array for postsByYear -->
                {% assign postsByYear = poetryPosts | group_by_exp: "post", "post.date | date: '%Y'" %}
           
                <!-- Create list from postsByYear -->
                {% for postsByYearList in postsByYear %}
                  <details class="post-list-details">
                    <summary>
                      {{postsByYearList.name}}
                    </summary>
                      <!-- Then get the list for the posts -->
                      <ul class="page-item-list">
                        {% for post in postsByYearList.items %}
                          <li><a class="page-item-title" href="{{site.data.baseUrl.baseUrl}}{{post.permalink}}">&#x25CF;&nbsp;{{post.title}}</a></li>
                        {% endfor %}
                      </ul>
                    </details>
                {% endfor %}

              <!-- for short story page -->
              {% elsif page.permalink == "/creative-writing/short-story" %}
                <!-- Get poerty category and create an array -->
                {% assign shortStoryPosts = site.posts | where_exp: "item", "item.category == 'short-story'" %}
                <!-- Create an array for postsByYear -->
                {% assign postsByYear = shortStoryPosts | group_by_exp:"post", "post.date | date: '%Y'" %}
            
                <!-- Create list from postsByYear -->
                {% for postsByYearList in postsByYear %}
                <details class="post-list-details">
                  <summary>
                    {{postsByYearList.name}}
                  </summary>
                    <!-- Then get the list for the posts -->
                    <ul class="page-item-list">
                      {% for post in postsByYearList.items %}
                        <li><a class="page-item-title" href="{{site.data.baseUrl.baseUrl}}{{post.permalink}}">&#x25CF;&nbsp;{{post.title}}</a></li>
                      {% endfor %}
                    </ul>
                  </details>
                {% endfor %}
      

              <!-- for essay page -->
              {% elsif page.permalink == "essay" %}
                <!-- Get poerty category and create an array -->
                {% assign essayPosts = site.posts | where_exp: "item", "item.category == 'essay'" %}
                <!-- Create an array for postsByYear -->
                {% assign postsByYear = essayPosts | group_by_exp:"post", "post.date | date: '%Y'" %}
            
                <!-- Create list from postsByYear -->
                {% for postsByYearList in postsByYear %}
                <details class="post-list-details">
                  <summary>
                    {{postsByYearList.name}}
                  </summary>
                    <!-- Then get the list for the posts -->
                    <ul class="page-item-list">
                      {% for post in postsByYearList.items %}
                        <li><a class="page-item-title" href="{{site.data.baseUrl.baseUrl}}{{post.permalink}}">&#x25CF;&nbsp;{{post.title}}</a></li>
                      {% endfor %}
                    </ul>
                  </details>
                {% endfor %}
              {% endif %}
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
