
.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-inner {
  height: 300px;
  display: flex;
  align-items: center;
  width: 100%;
  backdrop-filter: saturate(160%) blur(20px);
  border-radius: 10px;
}

.carousel-item {
  height: auto;
}
.carousel-content-item {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
}

.carousel-content-text {
  color:white;
}


.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 0px;
}