.fp-square-img {
  margin: 5px;
  width: 100%;
}

.fp-square-img-col {
  padding: 0;
  padding: 5px;
}
.square-img-div {
 display: block;
}

.fp-rect-img {
  width: 100%;
}

.padding-right-10 {
  padding-right: 10px;
}

.content-section {
  padding: 40px 5px;
  background-image: linear-gradient(180deg,#fff,#f3f7fa);
}

.word-content-container > h1 {
  font-size: 28px;
  color:#16b948;
  margin-bottom: 20px;
}
.word-content-container > p {
  font-size: 16px;
  color:  #354052;
}

/* Large screen */
@media only screen and (min-width: 992px) {

  .content-section {
    padding: 80px 20px;
  }

  .word-content-container > h1 {
    font-size: 38px;
  }

  .word-content-container > p {
    font-size: 20px;
  }
}

/* medium to small */
@media only screen and (min-width: 576px) and (max-width: 991.5px) {

}

/* mobile */
@media only screen and (min-width: 381px) and (max-width: 575.5px) { 

}