.content {
  background: linear-gradient(180deg, #2B86C5 0%, #FF6A88 100%);
  padding-top: 140px;
}

.front-content-row {
  margin: 40px 0px;
  align-items: center;
  text-align: center;
} 

.front-content-title {
  color: white;
}

.front-content-text {
  color: white;
}

@media only screen and (max-width: 768px) {  
  .front-content-explanation {
    order: -1;
  }
}