
.hero {
  padding-top: 120px;
  background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
}

/* hero */
/* Bootstrap breakpoint reference

min-width -> if width is greater than or equal to ...px
// Custom - extra small
@media only screen and (min-width: 381px)

// Small devices (landscape phones, 576px and up)
@media only screen and (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media only screen and (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media only screen and (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media only screen and (min-width: 1200px) { ... }
*/

/* Mobile less than 381px */


.hero-title {
  font-size: 45px;
  margin: 15px;
  text-align: center;
}

.hero-subtitle {
  font-size: 25px;
  margin: 10px;
  text-align: center;
}

.hero-icon {
  margin: 10px;
  width: 65px;
  height: 65px;
}

.hero-container {
  margin-top: 10px;
  padding-bottom: 40px;
  font-family: 'Fredoka One', cursive;
}

.hero-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-subtitle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-btn-container {
  display: flex;
  justify-content: center;
  margin: 40px 10px;
}

.btn-hero-signup {
  background-color: #3455a5;
  width: 220px;
  height: 40px;
  border-color: #3455a5;
  border-radius: 30px;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  color: white;
}

.btn-hero-signup:active,
.btn-hero-signup:hover,
.btn-hero-signup:focus {
  background-color: #5e86e5;
  border-color: #5e86e5;
}


/* Large screen */
@media only screen and (min-width: 992px) {
  .hero-container {
    margin-top: 70px;
    padding-bottom: 100px;
  }

  .hero-title {
    font-size: 88px;
    margin: 20px;
    white-space: nowrap;
  }
  
  .hero-subtitle {
    font-size: 45px;
    margin: 15px;
  }
  
  .hero-icon {
    margin: 40px;
    width: 150px;
    height: 150px;
  }

  .btn-hero-signup {
    width: 280px;
    height: 55px;
    border-radius: 30px;
    font-size: 22px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 991.5px) {
  .hero-container {
    padding-bottom: 90px;
  }

  .hero-title {
    font-size: 68px;
    margin: 20px;
    white-space: nowrap;
  }
  
  .hero-subtitle {
    font-size: 30px;
    margin: 15px;
  }
  
  .hero-icon {
    margin: 40px;
    width: 100px;
    height: 100px;
  }

  .btn-hero-signup {
    width: 280px;
    height: 55px;
    border-radius: 30px;
    font-size: 20px;
  }
}

@media only screen and (min-width: 381px) and (max-width: 575.5px) { 

  .hero-container {
    padding-bottom: 60px;
  }

  .hero-title {
    font-size: 50px;
    margin: 15px;
    white-space: nowrap;
  }

  .hero-icon {
    margin: 20px;
    width: 65px;
    height: 65px;
  }

}