---
layout: default
---

{% include sakura-target.html %}
{% include home-hero-banner.html %}

<div class="content d-flex justify-content-center flex-column">
    
  <div class="container">
    <div class="row front-content-row">
      <div class="col-md-6 front-content-explanation">
        <h3 class="front-content-title">Creative writing</h3>
        <p class="front-content-text">I write poems and short stories.</p>
      </div>

      <div class="col-md-6">

        {% include carousel.html %}
     </div>
    </div>
  </div>

  <div class="container">
    <div class="row front-content-row">
      

      <div class="col-md-6">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="carousel-content-item">
                <h1 class="carousel-content-title">Lorem Ipsum</h1>
                <p class="carousel-content-text">poem</p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-content-item">
                <h1 class="carousel-content-title">Lorem Ipsum</h1>
                <p class="carousel-content-text">poem</p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-content-item">
                <h1 class="carousel-content-title">Lorem Ipsum</h1>
                <p class="carousel-content-text">poem</p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="col-md-6 front-content-explanation">
        <h3 class="front-content-title">Music</h3>
        <p class="front-content-text">I write songs. I play music.</p>
      </div>
      
    </div>
  </div>

  <div class="container">
    <div class="row front-content-row">
      <div class="col-md-6 front-content-explanation">
        <h3 class="front-content-title">Essay</h3>
        <p class="front-content-text">I sometimes want to write what I think.</p>
      </div>

      <div class="col-md-6">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="carousel-content-item">
                <h1 class="carousel-content-title">Lorem Ipsum</h1>
                <p class="carousel-content-text">poem</p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-content-item">
                <h1 class="carousel-content-title">Lorem Ipsum</h1>
                <p class="carousel-content-text">poem</p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-content-item">
                <h1 class="carousel-content-title">Lorem Ipsum</h1>
                <p class="carousel-content-text">poem</p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row front-content-row">
      

      <div class="col-md-6">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="carousel-content-item">
                <h1 class="carousel-content-title">Lorem Ipsum</h1>
                <p class="carousel-content-text">poem</p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-content-item">
                <h1 class="carousel-content-title">Lorem Ipsum</h1>
                <p class="carousel-content-text">poem</p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-content-item">
                <h1 class="carousel-content-title">Lorem Ipsum</h1>
                <p class="carousel-content-text">poem</p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="col-md-6 front-content-explanation">
        <h3 class="front-content-title">Tech</h3>
        <p class="front-content-text">I'm into programming and building stuff.</p>
      </div>
      
    </div>
  </div>

</div>
<!--Content ends-->