---
layout: default
---

{% include sakura-target.html %}
{% include home-hero-banner.html %}

<div class="content d-flex justify-content-center flex-column">
    
  <div class="container">
    <div class="row front-content-row">
      <div class="col-md-6 front-content-explanation">
        <h3 class="front-content-title">Creative writing</h3>
        <p class="front-content-text">I write poems and short stories.</p>
      </div>

      <div class="col-md-6">

        {% include carousel-creative-writing.html %}
     </div>
    </div>
  </div>

  <div class="container">
    <div class="row front-content-row">
      

      <div class="col-md-6">
        {% include carousel-music.html %}
      </div>
      <div class="col-md-6 front-content-explanation">
        <h3 class="front-content-title">Music</h3>
        <p class="front-content-text">I write songs. I play music.</p>
      </div>
      
    </div>
  </div>

  <div class="container">
    <div class="row front-content-row">
      <div class="col-md-6 front-content-explanation">
        <h3 class="front-content-title">Essay</h3>
        <p class="front-content-text">I sometimes want to write what I think.</p>
      </div>

      <div class="col-md-6">
        {% include carousel-essay.html %}
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row front-content-row">
      

      <div class="col-md-6">
        {% include carousel-tech.html %}
      </div>
      <div class="col-md-6 front-content-explanation">
        <h3 class="front-content-title">Tech</h3>
        <p class="front-content-text">I'm into programming and building stuff.</p>
      </div>
      
    </div>
  </div>

</div>
<!--Content ends-->